.form-bg{
	margin-top: 20%;
	padding: 20px;
	background: var(--bs-gray-300);
	border-radius:5px;
}

.form-control{
	height:2.8em;
}
.form-label{
	font-size: 18px;
}

.action{
	font-size:24px;
	text-align: center;
	width:100%;
	padding:5px 0;
}

.underlink{
	color:var(--components-bg);
}
.underlink:hover{
	color:var(--hover-component-bg);
	cursor: pointer;
}