<div *ngIf='vacancy != null' class="pt-4 container">
	<div class="row">
		<div class="col-md-8 ">
			<div class="info shadow p-3 mb-4">
				<div class="fs-2 post">{{vacancy.post}}</div>
				<div class="fs-3 my-3">Зарплата от {{vacancy.salary}} ₽</div>
				<div class="fs-5">Требуемый опыт работы: {{vacancy.experience}}</div>
				<div class="fs-5">{{vacancy.city}}</div>
				<div class="fs-6 mt-5"><pre>{{vacancy.description}}</pre></div>
			</div>
		</div>
		<div class="col-md-4 ">
			<div class="owner shadow p-3">
				<div class="fs-4 mb-2">{{vacancy.owner.fullname}}</div>
				<div class="d-flex">
					<img class="logo" [src]="this.vacancy.organizationImage64">
					<div class="fs-5 d-flex align-self-end ms-3">{{vacancy.organization}}</div>
				</div>
				<button class="mt-4 btn response">Откликнуться</button>
			</div>
		</div>
	</div>
</div>
