
.form-floating,.form-file{
	margin-bottom: 20px;
}

.logo{
	width: 200px;
}

.input-page{
	width: 50px;
	border: none;
	border-bottom: 1px solid black;

	background: none;
	outline: none;
	text-align: center;
}
