<div class="container">
	<div class="row justify-content-center">
		<h3 class="mt-4 text-center">Редактировать объявление</h3>
		<div class="col-md-8 pb-5 d-flex flex-column">
				<form action=""
					*ngIf="vacancyEditForm"
					[formGroup] = "vacancyEditForm"
					(ngSubmit) = "toUpdate()"
				>
					
				<div class="form-floating mt-3">
			    	<input type="text" class="form-control shadow-sm" id="post" placeholder="" value="" formControlName='post'>
			    	<label for="post">Должность</label>
			    	<span class="ms-1 text-danger"
					    *ngIf="vacancyEditForm.get('post')?.invalid && vacancyEditForm.get('post')?.touched"
					    >
					    Должность не должна быть пустой
					</span>
			    </div>

 				<div class="form-floating">
			    	<input formControlName="organization" type="text" class="form-control shadow-sm" id="organization" placeholder="" value="">
			    	<label for="organization">Организация</label>
			    	<span class="ms-1 text-danger"
					    *ngIf="vacancyEditForm.get('organization')?.invalid && vacancyEditForm.get('organization')?.touched"
					    >
					    Организация не должна быть пустой
					</span>
			    </div>

			    <div class="form-file">
			    	<div class="form-control d-flex flex-column">
			    		<img class="logo" [src]="this.image64"/>
			    		<div class="d-flex"><label>Логотип организации</label><label class="text-secondary">(необязательно)</label></div>
			    		<input type="file" accept="image/*,.png,.jpg,.jpeg" class="my-2" (change)="onFileSelect($event)">
			    	</div>
			    </div>

			    <div class="form-floating">
			    	<input formControlName="salary" type="text" class="form-control shadow-sm" id="salary" placeholder="" value="">
			    	<label for="salary">Зарплата от</label>
			    	<span class="ms-1 text-danger"
					    *ngIf="vacancyEditForm.get('salary')?.invalid && vacancyEditForm.get('salary')?.touched"
					    >
					    Зарплата не должна быть пустой
					</span>
			    </div>

			    <div class="form-floating">
			    	<input formControlName="city" type="text" class="form-control shadow-sm" id="city" placeholder="" value="">
			    	<label for="city">Город</label>
			    	<span class="ms-1 text-danger"
					    *ngIf="vacancyEditForm.get('city')?.invalid && vacancyEditForm.get('city')?.touched"
					    >
					    Город не должен быть пустым
					</span>
			    </div>

				<div class="form-floating">
				  	<select formControlName="experience" class="form-select shadow-sm" id="experience" aria-label="Floating label select example">
				    	<option value="Нет" selected>Нет</option>
						<option value="Более 1 год">Более 1 год</option>
						<option value="Более 3 лет">Более 3 лет</option>
						<option value="Более 5 лет">Более 5 лет</option>
						<option value="Более 10 лет">Более 10 лет</option>
				  </select>
				  <label for="experience">Опыт работы</label>
				</div>

				<div class="form-floating">
				  	<select formControlName="work_time" class="form-select shadow-sm" id="work_time" aria-label="Floating label select example">
				    	<option value="Полная занятость" selected>Полная</option>
						<option value="Неполная занятость">Неполная</option>
				  </select>
				  <label for="work_time">Тип занятости</label>
				</div>

				<div class="form-block">
					<div class="form-floating shadow-sm">
						<textarea formControlName="description" class="form-control" placeholder="" id="description"></textarea>
						<label for="description">Описание</label>
					</div>
				</div>
				<div class="d-flex justify-content-between">
					<button (click)="delete()" class="btn btn-danger">Удалить</button>
					<button [disabled]="!vacancyEditForm.valid" type="submit" class="btn btn-primary align-self-end">Сохранить</button>					
				</div>
				</form>
			</div>
	</div>
</div>