.container{
	display:flex;
	justify-content: center;
	flex-direction: column;
}



.person-photo{
	padding:10px;
	background: #e8e8e8;
	border-radius:5px;
	height:200px;
}

.username{
	height:40px;
	padding-left: 5px;
	width: 100%;
	border:2px solid var(--components-bg);
	border-radius:5px;
	outline: none;

}

/* Классы для выбора пола*/
.sex-check{
	display: flex;
	flex-direction: column;
}

.sex-check-item{
	display: flex;
	margin-top: 5px;
}

.sex-check-label{
	font-size: 18px;
	padding-left: 10px;
}

/* Классы для стилизации персональных данных */
.person-data{
	display:flex;
	flex-direction: column;
}




#additional{
	min-height: 120px;
}
#experience, #personal_qualities{
	min-height:80px;
}

.form-floating{
	margin-bottom: 20px;
}