
	<div class="item container-field p-3 mb-3 shadow-sm bg-white">
		<div class="row">
			<div class="col-md-12">
				<a href="" 	routerLink="/dashboard/resumes/{{resume.id}}">
					<span class="m-0 fs-3 fw-semibold">{{resume.post}}</span>
				</a>
				<div class="m-0 fs-6">Пол: {{resume.sex}}</div>
				<div class="fw-semibold mb-3 fs-6">{{resume.city}}</div>
				<div class="m-0 fs-6">Опыт работы: {{resume.experience}}</div>
				<div class="m-0 date">Опубликовано {{resume.date | date: 'dd.MM.yyyy'}}</div>
			</div>
		</div>
	</div>

