<div class="container-lg content my-5 p-1 justify-content-center">
	
	<div class="row mt-2 justify-content-center">
		<div class="col-md-8 ">
			<h3>Профиль</h3>
		</div>
	</div>
	<!-- Фото и ФИО -->
	<form>
	<div class="row mt-3 justify-content-center">
		<div class="col-md-2 ">
			<div class="person-photo"></div>
		</div>
		<div class="col-md-6 align-self-end">
			<div class="form-floating mb-4">
			    <input type="text" class="form-control shadow-sm" id="name" placeholder="" value="">
			    <label for="name">ФИО</label>
			</div>
			<div class="form-floating">
			    <input type="text" class="form-control shadow-sm" id="phone_number" placeholder="" value="">
			    <label for="phone_number">Номер телефона</label>
			</div>
		</div>
	</div>
	<!--- -->
	<!-- Инфо -->
	<div class="row mt-5 mb-5 justify-content-center">
		<div class="col-md-8 person-data">
			<!-- Персональные данные -->
			<h6>Пол</h6>
			<div class="form-check sex-check mb-2">
				<div class="sex-check-item">
					<input class="form-check-input align-self-center" id="male" type="radio" name="sex" value="male">
					<label class="sex-check-label align-self-center" for="male">
						Мужской
					</label>
				</div>
				<div class="sex-check-item">
					<input class="form-check-input align-self-center" id="female" type="radio" name="sex" value="female">
					<label class="sex-check-label align-self-center" for="female">
						Женский
					</label>
				</div>
			</div>
			
			<div class="form-floating mb-4">
			    <input type="text" class="form-control shadow-sm" id="age" placeholder="" value="">
			    <label for="age">Возраст</label>
			</div>

			<div class="form-floating mb-4">
			    <input type="text" class="form-control shadow-sm" id="city" placeholder="" value="">
			    <label for="city">Город</label>
			</div>

			<div class="form-floating mb-4">
			    <input type="text" class="form-control shadow-sm" id="education" placeholder="" value="">
			    <label for="education">Образование</label>
			</div>
			
			<div class="form-floating mb-4">
			    <input type="text" class="form-control shadow-sm" id="specialty" placeholder="" value="">
			    <label for="specialty">Специальность</label>
			</div>


			<div class="form-floating mb-4">
				<select class="form-select" id="experience" aria-label="Floating label select example">
			    	<option value="1">Нет</option>
					<option value="2">Более 1 год</option>
					<option value="3">Более 3 лет</option>
					<option value="4">Более 5 лет</option>
				<option value="5">Более 10 лет</option>
			  	</select>
			  	<label for="experience">Опыт работы</label>
			</div>

			<div class="form-floating mb-4">
				<select class="form-select" id="working_time" aria-label="Floating label select example">
			    	<option value="1">Полный день</option>
					<option value="2">Неполный день</option>
					<option value="3">Плавающий</option>
					<option value="4">Вахтовый</option>
			  	</select>
			  	<label for="working_time">Желаемый график работы</label>
			</div>


			<div class="form-floating mb-4">
			    <input type="text" class="form-control shadow-sm" id="salary" placeholder="" value="">
			    <label for="salary">Желаемая зарплата</label>
			</div>

			<button class="mt-4 btn btn-primary align-self-end" type="submit">Сахранить</button>
			
		</div>
	</div>
	</form>
</div>
