<header class="container-fluid shadow-sm">
	<div class="container header-bar d-flex">

			<!-- Лого -->
			<a class="me-5 title justify-content-start"
				routerLink="/dashboard"
            	><img class="logo" src="../assets/images/logo.png" alt=""></a>
			<div class="header-menu">
				<nav class="">
				<a class="nav-item"
				   routerLink="/dashboard/resumes"
				   routerLinkActive="active-link"
				   >Работники</a>
				   <a class="nav-item"
				   routerLink="/dashboard"
				   routerLinkActive="active-link"
				   >Вакансии</a>
				</nav>
				<div class=""></div>
			</div>
			<!-- Аккаунт -->
			<div class="user_info ms-auto">
				<div  *ngIf="authStatus">
					<div class="d-flex ghost">
						<div class="user_name">{{user}}</div>
						<div class="img-container"><img class="dafault_user_icon" src="../assets/images/person-fill.svg" alt=""></div>
					</div> 
					<!-- Цвет иконки выставлен в svg файле -->
					<!-- выпадающий список -->
					<div class="user_info-dropdown shadow">
						<a routerLink="/user/profile" class="dropdown-item">Персональные данные</a>
						<a routerLink="/user/favorites/vacancies" class="dropdown-item">Изобраное</a>
						<a routerLink="/user/resumes" class="dropdown-item">Мои резюме</a>
						<a routerLink="/user/create-resume" class="dropdown-item">Создать резюме</a>
						<a routerLink="/user/notices" class="dropdown-item">Мои объявления</a>
						<a routerLink="/user/create-notice" class="dropdown-item">Создать объявление</a>
						<button (click)="logout()" class="logout-btn mt-1 btn btn-primary" >Выйти</button>
					</div>
				</div>
			</div>

			<!-- Мобильное окно с навигацией-->
			<a class="nav-item" *ngIf="!authStatus" routerLink="/auth">Войти</a>
			<img *ngIf="authStatus" (click)="toggle()" class="burger" src="../assets/images/burger.svg" alt="">
			<div *ngIf="mobileMenu" class="mobile-menu shadow-sm d-flex flex-column">
				<div  *ngIf="authStatus">
					<div class="d-flex email-mobile">
						<div class="user_name">{{user}}</div>
					</div> 
					<ul>
						<li><a routerLink="/user/profile" class="dropdown-item">Персональные данные</a></li>
						<li><a routerLink="/user/favorites/vacancies" class="dropdown-item">Изобраное</a></li>
						<li><a routerLink="/user/resumes" class="dropdown-item">Мои резюме</a></li>
						<li><a routerLink="/user/create-resume" class="dropdown-item">Создать резюме</a></li>
						<li><a routerLink="/user/notices" class="dropdown-item">Мои объявления</a></li>
						<li><a routerLink="/user/create-notice" class="dropdown-item">Создать объявление</a></li>
						<li><button (click)="logout()" class="logout-btn mt-1 btn btn-primary" >Выйти</button></li>
					</ul>
				</div>
			</div>
	</div>
</header>
