<a href="" 	routerLink="/dashboard/vacancy/{{vacancy.id}}">
	<div class="item container-field p-3 mb-3 shadow-sm bg-white">
		<div class="row">
			<div class="col-md-12">
				<div class="m-0 fs-3 fw-semibold">{{vacancy.post}}</div>
				<div class="mt-2 mb-2 fs-5 d-flex">
					<div>Зарплата от</div>
					<div class="ps-2 flex-fill">{{vacancy.salary}} ₽</div>
				</div>
				<div class="fw-semibold mt-3 fs-6">{{vacancy.organization}}</div>
				<div class="fw-semibold mb-3 fs-6">{{vacancy.city}}</div>
				<div class="m-0 fs-6">Требуемый опыт работы: {{vacancy.experience}}</div>
				<div class="m-0 fs-6">График работы: {{vacancy.work_time}}</div>
			</div>
		</div>
	</div>
</a>
