/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,500&display=swap');

:root{
	--components-bg: #007df7;/* #05ac00 */
	--hover-component-bg:#1f80de;
	--bg: var(--bs-gray-100);
}

body{
	font-family: 'Open Sans', sans-serif;
	font-family: 'Rubik', sans-serif;
	background: var(--bg);
}

.btn-primary{
	background: var(--components-bg);
	border-color: var(--components-bg);
}

/* Глобальные стили */
.w-100{
	width:100%;
}