<div class="container-field shadow favorites-bar d-flex justify-content-center">
	<a routerLink="/user/favorites/vacancies" class="favorites-bar--item">Вакансии</a>
	<a routerLink="/user/favorites/resumes" class="favorites-bar--item">Резюме</a>
</div>
<div class="container">
	<div class="row justify-content-center">
		<h3 class="text-center my-3">Избранные резюме</h3>

		<div class="d-flex flex-column">
			<app-favorite-resume-item
			*ngFor="let resume of resumes"
			[resume]="resume"
		></app-favorite-resume-item>
		<div class="row mt-3 justify-content-end">
			<div class="col-5">
				<button [disabled]="!backActive" (click)="back()" class="float-right btn btn-primary d-flex justify-content-end align-self-end">Назад</button>
			</div>
			<div class="col-2 d-flex justify-content-center">
				<input type="text" [value]="this.current_page">
			</div>
			<div class="col-5">
				<button [disabled]="!nextActive" (click)="next()" class="btn btn-primary d-flex justify-content-start">Далее</button>
			</div>
		</div>
	</div>

</div>
